@page
@model Viber.Pages.MoodBoardPages.EditModel
@{
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
</head>

<div class="text-center">
    Design your moodboard
</div>
<div class="d-flex justify-content-center mb-2 mt-0">
    <i class="fa-regular fa-circle"></i>
    <i class="fa-solid fa-circle"></i>
    <i class="fa-regular fa-circle"></i>
</div>
<body class="vh-100 ">
    <div class="container-fluid h-100">
        <div class="row h-100 g-3 ">
            <div class="col-8">
                @* Venstre kasse *@
                <div class="p-5 border rounded-3 h-100 shadow-lg p-4 mb-4" id="Moodboard">
                    <p>#Example</p>

                    @* //titlen sættes ind her baseret på input *@
                    <h1 class="display-8 text-center mb-5 col-12" id="DynamicTitle">@Model.MoodBoard.Title</h1>


                    <div class="row g-2 d-flex justify-content-between" id="dynamicRow">
                        @* her indsættes værdierne fra javascript *@

                    </div>



                </div>

            </div>
            @* højre kasse *@
            <div class="col-4">
                <div class="p-5 bg-light border rounded-3 h-100">
                    <h1 class="display-8 text-center">Design</h1>

                    <form method="post">

                        <div class="row mt-3 g-2 text-center">
                            @* input til baggrundsfarve *@
                            <div class="col-5 border border-light me-5">
                                <p>Background color</p>
                                <input asp-for="MoodBoard.BackgroundColor" class="col-3" type="color" id="BackgroundColorPicker" />

                            </div>
                            @*Input til titel farve*@
                            <div class="col-5 border border-light">
                                <p>
                                    Pick Title color
                                </p>

                                <input asp-for="MoodBoard.TitleColor" class="col-3 shadow" type="color" id="TitleColor" />
                            </div>

                        </div>
                        <button class="custom-button shadow-sm text-center mt-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
                            Add content containers
                        </button>

                        <div>
                            <p>Enter a link for your thumbnail</p>
                            <input asp-for="MoodBoard.Thumbnail" type="url" class="col-12" />
                        </div>



                        @* Laver en linje til at adskille submit fra resten *@
                        <div class="border-top mt-3 border-dark">
                            <p></p>
                        </div>
                        @* Sender moodboard med i onpost *@
                        <div class="text-end">
                            <button type="submit" class="custom-button-submit mt-2" asp-route-moodBoard="@Model.MoodBoard"> Submit moodboard </button>
                        </div>

                    </form>
                    <div class="offcanvas offcanvas-end" id="demo">
                        <button type="button" class="btn-close text-reset ms-auto" data-bs-dismiss="offcanvas"></button>
                        <div class="offcanvas-header">
                            <h1 class="offcanvas-title">Add content</h1>

                        </div>
                        <div class="offcanvas-body">
                            @foreach (var CC in Model.MoodBoard.ContentContainers)
                            {
                                    
                                
                                        @switch (CC.Type)
                                        {
                                            case "text":
                                            <div id="@CC.ContentContainterId" class="col-4">
                                                    <div class="pb-1">
                                                        <div class=" mt-2">
                                                            <span class="shadow p-2 text-black" style="border-radius:5px">
                                                                    @CC.Link
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                break;
                                            case "youtube":
                                                <div class="col-5" id="@CC.ContentContainterId">
                                                    <div class="mt-2">
                                                        <span class="ratio ratio-16x9" style="border-radius:5px">
                                                            <iframe src="https://www.youtube.com/embed/@CC.Link" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="border-radius:5px"></iframe>
                                                        </span>
                                                    </div>
                                                </div>
                                                break;
                                            case "image":
                                                 <div class="col-5" id="@CC.ContentContainterId">
                                                    <div class="mt-2">
                                                        <span class="shadow p-2" style="border-radius:5px">
                                                            <img src="@CC.Link" style="max-width:100%; height:auto" />
                                                        </span>
                                                    </div>
                                                </div>

                                               

                                                break;
                                            case "spotify":
                                                    <div class="col-5 mt-2" id="@CC.ContentContainterId">
                                                        <span style="border-radius:5px">
                                                            <iframe src="https://open.spotify.com/embed/@CC.Link" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                                                        </span>
                                                    </div>
                                                break;
                                            default:
                                                break;

                                        }
                                <button onclick="Move(@CC.ContentContainterId)">Add to moodboard</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>


        // Vælg baggrundsfarve


        //vælg en farve til baggrunden:
        function BackgroundColor() {
            // Se hvad brugeren har valgt
            var color = document.getElementById('BackgroundColorPicker').value;

            // Sæt baggrundsfarven til det valgte farve. Men kun i det område med id Moodboard
            document.getElementById('Moodboard').style.backgroundColor = color;
        }
        //ændrer farven når den ser at man har klikket
        document.getElementById('BackgroundColorPicker').addEventListener('input', BackgroundColor);


        // vælg farve til overskriften

        function TitleColor(){
            //color er lig med inputtet i titleColor værdi feltet
            var color = document.getElementById('TitleColor').value;
            document.getElementById('DynamicTitle').style.color = color
        }
        //holder øje med om der er valgt en værdi og sætter den dynamisk
        document.getElementById('TitleColor').addEventListener('input', TitleColor);



        //Tilføj rækkefølge til en liste. (brug CC.Id for at vide hvilken kasse jeg flytter)

        //laver et array fra https://www.w3schools.com/js/js_arrays.asp. Den er tom.

        let contentOrder = [];

        //laver en metode til at tilføje en kasses id til array
        function addCCToArray(ccId){
            contentOrder.push(ccId)
        }
        //funktion til at flytte  kasse fra højre side til venstre fundet på https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_node_appendchild2
        function Move(ccId){
            const node = document.getElementById(ccId)
            document.getElementById("dynamicRow").appendChild(node);
            addCCToArray(ccId);
            console.log("Updated contentOrder array:", contentOrder);
        }



        
        
    </script>
</body>
