@page
@model Viber.Pages.MoodBoardPages.ViewMoodBoardModel
@{
    ViewData["Title"] = "ViewMoodboard";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

    <div class="d-flex justify-content-between">

        <div>
            <p2 style="font-size:24px">Created by @Model.Moodboard.UserId </p2> @* skal have gjort så den henter navn i stedet for bare at tage Id *@
        </div>
    @if (Model.Authorized)
    {
        <div>
            <a asp-page="/MoodBoardPages/Edit" asp-route-Id="@Model.Moodboard.MoodboardId" class="btn btn-primary">
                Edit Moodboard
            </a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal">
                <span>Delete Moodboard </span><i class="fa-solid fa-dumpster-fire"></i>
            </button>
        </div>
    }

    </div>
    

<body>
    <div style="background-color:@Model.Moodboard.BackgroundColor; margin-top:20px; margin-bottom:20px;padding:30px; width:100%; height:100%; border-radius:5px; box-shadow: 0px 0px 5px black" >
        
        <h1 class="display-8 text-center mb-5 col-12" style="color:@Model.Moodboard.TitleColor; text-space: 1" >@Model.Moodboard.Title</h1>


        <div class="row g-2 d-flex justify-content-between">
            @foreach(var CC in Model.ContentContainers){
                @switch (CC.Type)
                {
                    case "text":
                        <div id="@CC.ContentContainterId" class="col-5">
                            <div class="pb-1">
                                <div class=" mt-2">
                                    <span id="TextboxColor" class="shadow p-2" style="border-radius:5px; color: @CC.TextColor">
                                        <p3 id="TextboxColor">@CC.Link</p3>
                                    </span>
                                </div>
                            </div>
                        </div>
                        break;
                    case "youtube":
                        <div class="col-5" id="@CC.ContentContainterId">
                            <div class="mt-2">
                                <span class="ratio ratio-16x9" style="border-radius:5px">
                                    <iframe src="https://www.youtube.com/embed/@CC.Link" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="border-radius:5px"></iframe>
                                </span>
                            </div>
                        </div>
                        break;
                    case "image":
                        <div class="col-5" id="@CC.ContentContainterId">
                            <div class="mt-2">
                                <span class="shadow p-2" style="border-radius:5px">
                                    <img src="@CC.Link" style="max-width:100%; height:auto" />
                                </span>
                            </div>
                        </div>



                        break;
                    case "spotify":
                        <div class="col-5 mt-2" id="@CC.ContentContainterId">
                            <span style="border-radius:5px">
                                <iframe src="https://open.spotify.com/embed/@CC.Link" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                            </span>
                        </div>
                        break;
                    default:
                        break;

                }
            }
        </div>
    </div>

    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <form method="post">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Delete moodboard</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        Are you sure you want to delete " @Model.Moodboard.Title " ?
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger" asp-route-moodboardId="@Model.Moodboard.MoodboardId">Yes</button>
                        <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                    </div>

                </div>
            </form>
        </div>
    </div>

</body>
