@page
@using Viber.Models
@model Viber.Pages.HomeModel
@{
}
<form method="get" class="d-flex">
    <div class="container">
        <div class="search-style">
                    
            <input class="search" type="search" asp-for="SearchTerm" placeholder="Search here... e.g. sad, happy, angry">
            <select class="custom-button-search" asp-for="IsMoodboard">
                <option value="true">Moodboards</option>
                <option value="false">Tags</option>
            </select>
            <button type="submit" class="custom-button-search">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>
</form>

<div style="display:flex; margin-left:30px; margin-top:10px">
    <p>Filter by: &nbsp</p><p id="p-filter"> Date, Popularity, Rating</p> @* filtering af søgeresultater implementeres her *@
</div>

@{
    Random rand = new Random();
}
@if (Model.SearchTerm != null)
{
    if (Model.IsMoodboard)
    {
        <div>
            @foreach (var mb in Model.SearchResultMoodboards)
            {
                <p>
                    @mb.Title
                </p>
            }
        </div>
    }
    else
    {
        foreach (var tag in Model.SearchResultSubTag)
        {
            <a asp-page="/MoodBoardPages/ViewSubTag" asp-route-Id="@tag.SubTagId" class="text-decoration-none">
                <h4>#@tag.Name</h4>
            </a>
            <div class="square-row">
            @if (Model.MoodboardsByTag.ContainsKey(tag.SubTagId))
            {
                var moodboards = Model.MoodboardsByTag[tag.SubTagId];

                foreach (var moodboard in moodboards)
                {
                    <a asp-page="/MoodBoardPages/ViewMoodboard" asp-route-Id="@moodboard.MoodboardId">
                        <div class="square">
                                @if (moodboard.Thumbnail == null)
                                {

                                    int randNumber = rand.Next(1, 200);

                                    <img src="https://picsum.photos/200/300?grayscale=3&random={@randNumber}">
                                }
                                else
                                {
                                    <img src="@moodboard.Thumbnail" />
                                }
                                <span class="image-text">@moodboard.Title</span>
                        </div>
                    </a>

                }
            }
        </div>
        }

    }
}

@if (Model.SearchTerm == null)
{
    @foreach (var tag in Model.PrimaryTags)
    {

        <div class="custom-button">
            <a asp-page="/MoodBoardPages/ViewPrimaryTag" asp-route-PrimaryTagId="@tag.PrimaryTagId" class="text-decoration-none">
                <h4>@tag.Name</h4>
            </a>
        </div>


        <div class="square-row">
            @if (Model.MoodboardsByTag.ContainsKey(tag.PrimaryTagId))
            {
                var moodboards = Model.MoodboardsByTag[tag.PrimaryTagId];

                foreach (var moodboard in moodboards)
                {
                    <a asp-page="/MoodBoardPages/ViewMoodboard" asp-route-Id="@moodboard.MoodboardId">
                        <div class="square">
                            @if (moodboard.Thumbnail == null)
                            {

                                int randNumber = rand.Next(1, 200);

                                <img src="https://picsum.photos/200/300?=3&random={@randNumber}">
                            }
                            else
                            {
                                <img src="@moodboard.Thumbnail" />
                            }
                            <span class="image-text">@moodboard.Title</span>
                        </div>
                    </a>
                }
            }
        </div>
        <div class="subtags-container">
            @if (Model.SubTagsByPrimaryTag.ContainsKey(tag.PrimaryTagId))
            {
                var subtags = Model.SubTagsByPrimaryTag[tag.PrimaryTagId];

                foreach (var subtag in subtags)
                {
                    <span class="subtag-item">
                        <a asp-page="/MoodBoardPages/ViewSubTag" asp-route-Id="@subtag.SubTagId" class="text-decoration-none">
                            <p2>#@subtag.Name</p2>
                        </a>
                    </span>
                }
            }
        </div>
    }
}
@if (Model.User != null && Model.User.Role == "Mod")
{
    <footer>
        <div>
            <a asp-page="/UserPages/Mod">
                <p2>Admin Page</p2>
            </a>
        </div>
    </footer>    
}
            